# virtual env
steame-env/

# raw data
data/raw/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
**/.ipynb_checkpoints/

.DS_Store


# ——— Tableau workbook files ———
# ignore the XML workbooks and the backup/checkpoint files
Job-Posting-Analysis.twb
*.twb
*.twbr
