# virtual env
steame-env/

# raw data
data/raw/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
**/.ipynb_checkpoints/

.DS_Store


# ——— Tableau workbooks ———
# Ignore XML workbooks and their backups (including dot-prefixed checkpoint files)
tableau/*.twb
tableau/*.twbr
tableau/.~*.twbr

# But always track the packaged workbook
!tableau/*.twbx
